@font-face {
    font-family: 'TextaAltRegular';
    src: url('../../../../assets/fonts/TextaAltRegular.ttf');
}

@font-face {
    font-family: 'TextaAltBold';
    src: url('../../../../assets/fonts/TextaAltBold.ttf');
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 8em; /* Oval kenar */
}

.button .image-view {
    -fx-effect: null;
}

.colored-button {
    -fx-background-color: transparent;
    -fx-background-radius: 8em;
    -fx-text-fill: #FFFFFF;
}

.colored-button .image-view {
    fx-effect: innershadow(gaussian, rgba(255, 255, 255, 1.0), 5, 5, 5, 5);
}

.colored-button:hover {
    -fx-background-color: #D1D5DB;
    -fx-background-radius: 8em;
    -fx-text-fill: #111827; /* Metin rengi */
}

.colored-button:pressed {
    -fx-background-color: #D1D5DB;
    -fx-text-fill: #111827;
}

.colored-button:focused {
    -fx-background-color: #D1D5DB;
    -fx-border-color: transparent;
    -fx-background-radius: 8em;
    -fx-text-fill: #111827;
}

.colored-button:hover .image-view {
    -fx-effect: innershadow(gaussian, rgba(37, 99, 235, 1.0), 5, 5, 5, 5);
}

.colored-button:pressed .image-view {
    -fx-effect: innershadow(gaussian, rgba(37, 99, 235, 1.0), 5, 5, 5, 5);
}

.colored-button:focused .image-view {
    -fx-effect: innershadow(gaussian, rgba(37, 99, 235, 1.0), 5, 5, 5, 5);
}

.search-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #111827;
    -fx-text-color: #111827;
    -fx-prompt-text-fill: #6B7280;
    -fx-background-radius: 100em;
    -fx-padding: 0 0 0 26px;
    -fx-font-family: 'TextaAltRegular';
    -fx-background-image: url('../../../../assets/images/icons/icon_search.png');
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 6px center;
}

.search-field .content {
    -fx-alignment: center-left;
    -fx-text-color: #111827;
    -fx-font-family: 'TextaAltBold';
}

.rainbow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 8em;
    -fx-border-radius: 8em;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%,
    red, orange, yellow, green, blue, indigo, violet);
    -fx-text-fill: black;
}

.rainbow-button:hover {
    -fx-background-color: #F7F9FF;
    -fx-background-radius: 8em;
    -fx-border-radius: 8em;
    -fx-effect: innershadow(gaussian, rgba(255, 165, 0, 0.8), 1, 1, 1, 1);
}

.rainbow-button:pressed {
    -fx-background-color: #F7F9FF;
    -fx-border-radius: 8em;
    -fx-effect: innershadow(gaussian, rgba(255, 165, 0, 0.8), 0, 0, 0, 0);
}

.rainbow-button:focused {
    -fx-background-color: #F7F9FF;
    -fx-border-color: transparent;
    -fx-border-radius: 8em;
}

.dashboard-header-profile {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 2em;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
}

.label {
    -fx-font-family: 'TextaAltBold';
    -fx-text-fill: #111827;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.cardview-icon-background {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 12;
}

.separator {
    -fx-border-color: rgba(0, 0, 0, 0.08);
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.resource-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.resource-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.resource-scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.resource-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #D1D5DB;
    -fx-background-radius: 5px;
}

.resource-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #6B7280;
    -fx-background-radius: 5px;
}

.resource-scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #4B5563;
}