.export-button {
    -fx-background-color: #2563EB;
    -fx-background-radius: 16;
    -fx-text-fill: #FFFFFF;
}

.freeze-button {
    -fx-background-color: #4B5563;
    -fx-background-radius: 16;
    -fx-text-fill: #FFFFFF;
}

.delete-button {
    -fx-background-color: #EA4643;
    -fx-background-radius: 16;
    -fx-text-fill: #F1F1F1;
}

.checkbox {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.checkbox .box {
    -fx-background-color: transparent;
    -fx-border-color: #eef2ff;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}

.checkbox:selected .box {
    -fx-background-color: #2563EB;
    -fx-background-radius: 6;
    -fx-background-insets: 1;
    -fx-border-color: #2563EB;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}

.checkbox:selected .mark {
    -fx-background-color: white;
}